.row-container {
  max-height: 200px;
  padding: 20px;
  .city-list {
    padding-top: 10px;
    padding-left: 20px;
    display: block;
    mat-checkbox {
      display: block;
    }
  }
}
.send-button {
  width: 90%;
  margin-left: 5%;
}
.results-list {
  padding-top: 20px;
  padding-bottom: 20px;
  .offers-list {
    display: flex;
    padding-top: 20px;
    p {
      width: 30%;
      text-align: center;
    }
  }
}
