.filter {
  width: 100%;
  position: absolute;
  z-index: 2;
  border-radius: 0px 0px 4px 4px;
}
.filter__hiden {
  background: none;
  box-shadow: 0px;
}
.filter_show {
  background: #ffffff;
  padding-bottom: 30px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.row__container__gray {
  background: rgba(0, 0, 0, 0.2);
  width: 90%;
  position: fixed;
  height: 100%;
  z-index: 1;
}
.search__options {
  position: relative;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 30px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.row__container {
  padding: 5%;

  .row__list {
    padding-top: 10px;
    display: block;
    label {
      padding-right: 20px;
    }
    mat-checkbox {
      display: block;
      padding-top: 5px;
    }
    mat-radio-group {
      display: flex;
      .type-list {
        padding-left: 20px;
      }
    }
    mat-form-field {
      width: 50%;
    }
  }
  .row__list__types {
    display: flex;
    padding-top: 10px;
    mat-radio-button {
      padding-left: 6px;
    }
  }
  .row__list__results {
    display: flex;
    padding-top: 20px;
    p {
      width: 30%;
      text-align: center;
      color: #afafb8;
    }
    .icon {
      padding-top: 15px;
      color: lightgray;
    }
  }
  mat-progress-bar {
    margin-top: 10px;
  }
  .logos {
    text-align: center;
    img {
      width: 100px;
      margin: 0% 1%;
    }
  }
}
.row__container--results {
  padding-top: 35px;
  padding-bottom: 5px;
}

// Custom buttons and errors

.error--text {
  text-align: center;
}
.btn {
  cursor: pointer;
}
.btn.btn__send {
  width: 90%;
  margin-left: 5%;
  margin-top: 30px;
}
.btn.btn__price {
  width: 35%;
  font-size: 14px;
  padding: 0;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  color: white;
  box-shadow: none;
  font-weight: 400;
}

// Responsive design

@media (min-width: 768px) {
  :host ::ng-deep mat-tab-header {
    display: grid;
    justify-content: center;
  }
  .row__container {
    width: 50%;
    margin-left: 20%;
  }
  .btn.btn__send {
    width: 50%;
    margin-left: 25%;
  }
}
