<div class="example-container">
  <form class="example-container" [formGroup]="options">
    <div>
      <label>Tipo de Viaje: </label>
      <mat-radio-group>
        <mat-radio-button value="two-ways">Ida y Regreso</mat-radio-button>
        <mat-radio-button value="one-way">Solo Ida</mat-radio-button>
      </mat-radio-group>
    </div>
    <div>
      <label>Origen:</label>
      <mat-form-field>
        <mat-select required formControlName="country">
          <mat-option>-- None --</mat-option>
          <mat-option
            [value]="option.country"
            name="country"
            *ngFor="let option of countryGroup"
            >{{ option.country }}</mat-option
          >
        </mat-select>
        <mat-label>Counrty</mat-label>
      </mat-form-field>
      <div>
        <mat-checkbox
          formControlName="destination"
          *ngFor="let option of cityGroup"
          [value]="option.iataCode"
          >{{ option.name }}</mat-checkbox
        >
      </div>
    </div>
  </form>
</div>

<a [routerLink]="['']" (click)="sendParamsOptions()">Search Now</a>
