<div class="grid-container">
  <mat-radio-group class="example-radio-group">
    <mat-radio-button
      class="example-radio-button"
      *ngFor="let type of travelTypes"
      [value]="type"
    >
      {{ type }}
    </mat-radio-button>
  </mat-radio-group>
  <form [formGroup]="countryForm">
    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Origen"
        formControlName="countryGroup"
        required
        [matAutocomplete]="autoGroup"
      />
      <mat-autocomplete #autoGroup="matAutocomplete">
        <mat-optgroup
          *ngFor="let group of (countryGroupOptions | async)"
          [label]="group.letter"
        >
          <mat-option *ngFor="let name of group.names" [value]="name">
            {{ name }}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

<a [routerLink]="['']" [queryParams]="myObj">Search Now</a>
